<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list_users</title>
    
</head>
<script src="/htmx.js"></script>
<body>
    <head>
        {% if logged_in_user.full_name%}
        <span>Welcome {{logged_in_user.full_name}}</span>
        {% else %}
        <span> Welcome User</span>
        {% endif %}
        {% if logged_in_user.picture%}
        <img src="{{logged_in_user.picture}}" style="height:25px;"></span>
            {% else %}
            <img src=" #" />
        {% endif %}
        <a href="#">Log out</a>
        <a href="#">Go back to ops dashboard</a>
    
    
    </head>
    <h2>Total rows in database {{table_rows_count}}</h2>
    <table>
        <tr>
            <th>id</th>
            <th>full_name</th>
            <th>email</th>
            <th>phone_number</th>
            <th>profile</th>
            <th>auth0_user_id</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.full_name}}</td>
            <td>{{user.email}}</td>
            <td>
                {% if user.phone_number %}
                {{user.phone_number}}
                {% else %}
                NULL
                {% endif %}
            </td>
            <td>
                {% if user.picture %}
                {{user.picture}}
                {% else %}
                NULL
                {% endif %}
            </td>
            <td>
                {% if user.profile %}
                {{user.profile}}
                {% else %}
                NULL
                {% endif %}
            </td>
            <td>
                {{user.auth0_user_id}}
            </td>
            </tr>
        {% endfor %}

    </table>
</body>

</html>