<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
</head>
<body>
    <h1>Create an account with us</h1>
    <form action="POST">
        <input type="text" name="username" autocapitalize="false" placeholder="username" autocomplete="username" />
        <br />
        <input type="password" name="password" autocapitalize="false" autocomplete="new-password" placeholder="password"/>
        <input type="text" name="country" autocomplete="country"

    </form>
    
</body>
</html>