<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Welcome.</h1>
        <h2>Please Confirm or Update the information we have on file</h2>
        <form method="POST">
            <div>
                <label for="full_name">Full Name</label>
                <input id="full_name" name="full_name" value="{{full_name}}" autocomplete="name" required />
            </div>
            <div>
                <label for="phone_number">Phone Number</label>
                <input id="phone_number" name="phone_number" value="{{phone_number}}" autocomplete="tel" required />
            </div>
            <div>
                <label for="email">Email</label>
                <input name="email" value="{{email}}" autocomplete="email" required />
            </div>
            <div>
                <label for="language">Please select your language and reigon</label>
                <select id="language" name="language" value="{{language}}" autocomplete="language">
                    <Option value="en-US" selected>English - United States</Option>
                </select>
            </div>
            <input id="picture" name="picture" value="{{picture}}" autocomplete="off" hidden>
            <input id="profile" name="profile" value="{{profile}}" autocomplete="off" hidden>
            <button type="submit">Continue</button>
        </form>
    <p>If you keep getting redirected to this page. Please contact <a href="{{support_email}}">{{support_email}}</a></p>
</body>
</html>