{% extends "base" %}


{% block title %}
User Settings
{% endblock title%}

{% block body %}
<h1>This page is under construction</h1>
<a href="/">Go Home</a>
<a href="{{settings_url}}">Settings</a>
<a href="{{dashboard_url}}">Dashboard</a>
{% endblock body %}