{% extends "base" %}


{% block title %}
User Dashboard
{% endblock title%}

{% block body %}
<h1>This page is under construction</h1>
<a href="/">Go Home</a>
<a href="{{settings_url}}">Settings</a>
<a href="{{dashboard_url}}">Dashboard</a>
<a href="{{transactions_upload_url}}">Upload Transactions</a>
<p>all time income {{all_time_income}}</p>
<p>all_time_expenses {{all_time_expenses}}</p>
{% endblock body %}