<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search_vehicles</title>
</head>
<body>
    <h1>
        Vehciles
    </h1>
    <div>
        {% for error in errors%}
        <span>Error: {{error}}</span>
        {% endfor %}
    </div>
    <form method="GET">
        <label>Vin:<input type="text" name="vin" list="vin-list" value="{{vin}}" /></label>
        <datalist id="vin-list">
            {% for vin in vins %}
            <option value="{{vin}}">{{vin}}</option>
            {% endfor %}
    </datalist>
        
        <label>Make:<input type="text" name="make" list="make-list" value="{{make}}"/></label>
        <datalist id="make-list">
            {% for make in makes %}
            <option value="{{make}}">{{make}}</option>
            {% endfor %}
    </datalist>
        <label>Model:<input type="text" name="model" value="{{model}}" list=model-list/></label>
        <datalist id="model-list">
            {% for model in models %}
            <option value="{{model}}">{{model}}</option>
            {% endfor %}
        </datalist>
        <label>Color: <input type="text" name="color" list="color-list" value="{{color}}"></label>
        <datalist id="color-list">
                {% for color in colors %}
                <option value="{{color}}">{{color}}</option>
                {% endfor %}
        </datalist>
        <label>year: <input type="text" name="year" list="year-list" value="{{year}}"></label>
        <datalist id="year-list">
                {% for year in years %}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
        </datalist>

        <button type="submit">search</button>
        <button type="submit" formmethod="POST">Insert</button>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>Vin</th>
                        <th>details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                    <tr>
                        <td>{{vehicle.year}}</td>
                        <td>{{vehicle.make}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.color}}</td>
                        <td>{{vehicle.vin}}</td>
                        <td><a href="{{uris[vehicle.vin]}}">Placeholder</a></td>
                    </tr>
                    {% endfor%}
                </tbody>

            </table>

        </div>
    </form>
    
</body>
</html>