{% extends "base" %}

{% block title %}
{{title}}
{% endblock title%}

{% block body %}
<h1>{{heading}}</h1>
<p>{{message}}</p>
<a href="{{next_uri}}">{{next_uri}}</a>
<p>{{error}}</p>
{% endblock body %}