<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Details for "{{vin}}"</title>
</head>
<body>
    <h1>Vehicle Details for "{{vin}}"</h1>
    <p>Placeholder for current Odometer</p>
    <p>Placeholder for trips excerpts</p>
    <p>Placeholder for maintenence status</p>
    <p>Placeholder for miles driven today</p>
    <p>Placeholder for miles driven this week</p>
    <p>Placeholder for miles driven this month</p>
    <p>Placeholder for summary of vehicle expenses</p>
    <p>Placeholder for summary of income generated with this vehicle</p>
    <p>Placeholder for loan details on this vehicle (if any)</p>

</body>
</html>