$colors: (
  light-white: rgb(215, 219, 221),
  primary-white: white,
  primary-dark: #333,
  light-blue: #3498db,
  dark-grey: #bdc3c7
);

$sizes: (
  input-primary-width: 15rem,
  input-primary-height: 20px
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function size($size-name) {
  @return map-get($sizes, $size-name);
}

body {
  background-color: color(dark-grey);
}

#section-root {
  .primary-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    h1 {
      font-size: 4rem;
      color: color(primary-white);
      font-family: monospace;
      margin: 10px 0px 20px;
    }

    h2 {
      font-size: 3rem;
      color: color(primary-white);
      font-family: monospace;
      margin: 0px 0px 40px;
    }

    i {
      font-size: 10rem;
      color: color(primary-dark);
    }
  }
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: size(input-primary-width);
    height: size(input-primary-height);
    text-align: center;
    margin: 4px 0 25px;
    font-family: monospace;
    font-size: 15px;
  }
  button {
    width: 6rem;
    height: 2rem;
    background-color: color(primary-dark);
    color: gold;
    border-radius: 8px;
    font-family: unset;
  }
}

.new-user {
  display: flex;
  align-items: center;

  h6 {
    margin-right: 5px;
  }

  .sml-act {
    color: color(light-blue);
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}
